<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">News in EJS</div>
      <div class="header__search"><%- include('./Partials/search.ejs') %></div>
    </header>
    <div class="wrapper">
      <div class="news">
        <% if(items !== null){ %> <% items.forEach(function(item) { %>
        <div class="news__card">
          <img src="<%- item.urlToImage %> " />
          <h5><%- item.source.name %></h5>
          <h2><%- item.title %></h2>
          <p><%- item.description %></p>
          <h4>
            <a href="<%- item.url%>" target="_blank">
              Click Here to read the complete News
            </a>
          </h4>
          <h5 style="position: absolute; bottom: 0; right: 0; font-weight: 100">
            Published at <%- item.publishedAt %>
          </h5>
        </div>
        <% }) %> <% } else { %>
        <h1>No news Found</h1>
        <% } %>
      </div>
    </div>
  </body>
</html>
